@font-face {
  font-family: Gilroy-Bold;
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy-Medium;
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy-Regular;
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../fonts/Gilroy-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: icons;
  src: url("../fonts/icon.woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

