@import "variables";

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

  }

  &__container {

  }

  &__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;

  }

  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%

  }

  &__logo {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 29/24 * 100%;

  }

  &__search {
    @media (min-width: $md2+px) {
      flex: 1 1 auto
    }
  }

  &__actions {

  }

  &__main {

  }

  &__main {

  }

}

.menu {
  flex: 0 1 420px;

  &__body {

  }

  &__list {
    @media(min-width: $md3+px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 0 3px;
    padding: 5px 0;
    @media(any-hover: hover) {
      &:hover {
        .menu__sub-list {
          transform: translate(0 0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .menu__arrow {
          transform: rotate(-180deg);
        }

        .menu__arrow,
        .menu__link {
          color: $orangeColor
        }
      }
    }
    @media (min-width: $md3+px) {
      &._hover {
        .menu__sub-list {
          transform: translate(0 0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .menu__arrow {
          transform: rotate(-180deg);
        }

        .menu__arrow,
        .menu__link {
          color: $orangeColor
        }
      }
    }
  }

  &__link {
    font-weight: 500;
    color: inherit;
    font-size: 16px;
    transition: color 0.4s ease 0s;

  }

  &__arrow {
    background-color: #f9f1e7;
    margin: 0 0 0 8px;
    font-size: 12px;
    transition: all 0.4s;


  }

  &__sub-list {
    position: relative;
    background-color: $orangeColor;
    padding: 15px;
    flex: 1 1 100%;
    @media (min-width: $md3+px) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease 0s;
      transform: translate(0px, 10px);
      min-width: 200px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
    }

  }

  &__sub-item {
    &:not(:last-child) {
      margin: 0 0 5px 0;
    }
  }

  &__sub-link {
    color: #fff;
    line-height: 120%;

  }
}


.search-form {
  max-width: 473px;
  &._active {
    .search-form__item {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .search-form__icon {
      color: $orangeColor
    }
  }

  &__icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    color: #262f56;
    @media(min-width: $md2+px) {
      display: none;
    }
  }

  &__item {
    background-color: #ffff;
    display: flex;
    align-items: center;
    @media (max-width: $md2+px) {
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  &__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333333;
    background-color: white;


  }

  &__input {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    height: 45px;
  }
}

.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 32px;
  &__item {

    &_favorites {
      color: #262f56;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      @media(any-hover: hover) {
        &:hover {
          color: $orangeColor
        }
      }
    }

    img {
      overflow: hidden;
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  &__icon {
    color: #262f56;
    font-size: 24px;
    transition: color 0.4s ease 0s;
    position: relative;
    display: block;
    @media(any-hover: hover) {
      &:hover {
        color: $orangeColor
      }
    }
  }
}

